@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Xanh+Mono:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    top: 0;
    background: url(background.jpg);
    background-position: center;
    background-size: cover;
    
}
.header{
    position: relative;
}
.logo{
    width: 130px;
    height: 100px;
    border-radius: 50%;
    float: left;
    padding: 10px 0;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.header::after{
    content: '';
    display: table;
    clear: both;
}
nav{
    float:center;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    padding:  15px;
    padding-top: 50px;
    padding-left: 30px;
    
}
nav a{
    color:#444;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Yeon Sung', cursive;
    
}
nav a:hover{
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    color: #000;
    font-family: 'Yeon Sung', cursive;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 20px;
    background: linear-gradient(20deg,#f4f4f7,#e8ece8);
}
.banner h2{
    font-size: 15px;
    margin-top: 100px;
    margin-left: 155px;
    font-family: 'Xanh Mono', monospace;
}
.banner p{
    margin-top: 14px;
    margin-left: 165px;
    font-size: 25px;
    font-family: 'Redressed', cursive;
}

.button{
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin-top: 25px;
    margin-left: 165px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    
    background: linear-gradient(90deg,#755bea,#ff72c0);
}
.button:hover{
    transform: translate(6%,5%);
    color: #000;
    background: linear-gradient(40deg,#4fe074,#fa5b46);
}

.center{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
    animation: motion 4s 30;
    animation-iteration-count:infinite ;
}
@keyframes motion{
    0%{
        margin-top: 3px;
        
    }
    10%{
        margin-bottom: -25px;
        
    }
    30%{
        margin-top: 10px;
        
    }
    60%{
        margin-bottom: 10px;
        
    }
    100%{
        margin-top: 0px;
        
    }
}
.mobile{
    width: 276px;
    height: 510px;
    background: #000;
    border-radius: 30px;
    border: 2px solid #7f837f;
    box-sizing: border-box;
    box-shadow: inset 0 0 8px #7f837f;
}
.screen{
    position: relative;
    background: url(1.png);
    width: 256px;
    height: 490px;
    margin: 10px auto;
    border-radius: 20px;
    overflow: hidden;
    transition: 5s;
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration:30s ;
    animation-fill-mode: forwards ;
    animation-iteration-count:infinite ;
    animation-play-state: running;
    animation-timing-function:ease-in-out ;
}

@keyframes animate{
    0%{
        background-image: url(1.png);
    }
    29%{
        background-image: url(2.jpg);
    }
    49%{
        background-image: url(3.png);
    }
    690%{
        background-image: url(4.png);
    }
    100%{
        background-image: url(5.png);
    }
}
.social-menu ul {
    position: relative;
    display: flex;
    margin-left: 175px;
    margin-top: 80px;
    padding: 0;
  }
  .social-menu ul li {
    list-style: none;
    margin: 0 15px;
  }
  .social-menu ul li .fa {
    font-size: 20px;
    line-height: 41px;
    transition: 0.6s;
    color: #fff;
  }
  .social-menu ul li .fa:hover {
    color: #fff;
  }
  .social-menu ul li a {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
    text-align: center;
    transition: 0.6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
  }
  .social-menu ul li a:hover {
    transform: translate(0, -10px);
  }
  .social-menu ul li:nth-child(1) a:hover {
    background-color: #e4405f;
  }
  .social-menu ul li:nth-child(2) a:hover {
    background-color: #3b5999;
  }
  .social-menu ul li:nth-child(3) a:hover {
    background-color:#cd201f;
  }
  .social-menu ul li:nth-child(4) a:hover {
    background-color: #55acee;
  }
  .social-menu ul li:nth-child(5) a:hover {
    background-color: #0077b5;
  }

/*Landing Page Over*/
@media only screen and (max-width: 770px){
    nav li{
      opacity: 0;
    }
    .center{
      height: 150px;
      width: 80px;
     margin-right: 50px;
    }
    body{
      background: url(images/2.jpg);
      background-position: center;
      background-size: cover;
      
  }
  }
